<h1><%= @questionnaire.title %></h1>

<%= form_tag questionnaire_answers_path(@questionnaire), method: 'post' do %>
  <ol>
    <% @questionnaire.questions.each do |question| %>
      <li class='question'>
        <%= label_tag question_id(question), question.text %>
        <% unless question.open_ended? %>
          <ul>
            <% question.options.each do |option| %>
              <li>
                <%= option_tag(question, option_id(option)) %>
                <%= label_tag option_id(option), option.text %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <br/>
          <%= text_answer_tag(question) %>
        <% end %>
      </li>
    <% end %>
  </ol>

  <%= submit_tag 'Answer' %>
<% end %>